[submodule "rescue"]
	path = rescue
	url = https://github.nz/td512/rescuesystem
[submodule "images"]
	path = images
	url = https://github.nz/td512/rescue-images
[submodule "ipxe"]
	path = ipxe
	url = https://github.com/ipxe/ipxe
